@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans Variable', sans-serif;
}

* {
  outline: none;
}

*:not(a, button) {
  cursor: default;
}

.discovered {
  animation: discovered ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes discovered {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(5px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.effectUp {
  animation: effectUp ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes effectUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
